<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>73909051-p09gbgqn7v9ekh7gi04lthkogbtav18u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.73909051-p09gbgqn7v9ekh7gi04lthkogbtav18u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>73909051-0o49o78f59jsf4dqe7igmuuink2ocd5g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBVXdqF8MuXBDC4S6dKAxMtxix2ucJlacw</string>
	<key>GCM_SENDER_ID</key>
	<string>73909051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myapp</string>
	<key>PROJECT_ID</key>
	<string>myapp-da120</string>
	<key>STORAGE_BUCKET</key>
	<string>myapp-da120.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:73909051:ios:02f9d5caea5248d1246d1e</string>
	<key>DATABASE_URL</key>
	<string>https://myapp-da120.firebaseio.com</string>
</dict>
</plist>